/* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inika-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  

.header {
background: #EDF2EC;
position: fixed;
width: 1440px;
height: 134px;
left: 0px;
top: 0px;


}
.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-top:42px;
  margin-bottom:42px;
  margin-right: 109px;
  margin-left: 111px;
  line-height: 50px;

}
.header_list {
  display: flex;
  flex-wrap: wrap;
}
.header_logo-link
{
text-decoration: none;
color: #000000;

}


.header_list_item {
  margin-top:42px;
  padding-bottom:42px;
  margin-right: 46px;
  font-size: 16px;
  line-height: 50px;
  text-decoration: none;
  color: #010201;
}
.header_list_item:last-child {
  margin-top:42px;
  margin-bottom:42px;
  margin-right: 109px;
  font-size: 16px;
  line-height: 50px;
  text-decoration: none;
  color: #010201;
}

.wrapper 
{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
body {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #010201;
 
  
}
.header_list_item:hover, .header_list_item:focus, header_list_item:active 
{
  color: #E06733;
}

.welcome_wrapper 
{
 
position: absolute;
width: 1440px;
height: 532px;
left: 0px;
top: 134px;

background: #EDF2EC;
}
.welcome_section {
font-family: 'Inter';
font-style: normal;
display: flex;
align-items: flex-end;
flex-wrap: wrap;
margin-top: 62px;
margin-bottom: 63px;
margin-right: 109px;
margin-left: 109px;




width: 1222px;
height: 407.36px;
left: 109px;
top: 62px;



}
.grow_plants_text
{
  width: 549px;
  height: 101px;
  left: 782px;
  top: 98px;

  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  margin-top: 36px;
  margin-bottom: 42px;

  
  
  
  
  
 

color: #717171;
}
span {
  color: #499A18
}
.lorem_text
{
  width: 525.44px;
  height: 105px;
  left: 782px;
  top: 241px;
  
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  margin-bottom:48px;

  
  
  
  color: #636060;
}
.learn_more-button
{
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-decoration: none;


color: #000000;
}
.learn_more_button-border
{
box-sizing: border-box;
width: 158px;
height: 44px;
left: 782px;
top: 394px;
display: flex;
justify-content: center;
align-items: center;
border: 2px solid #E06733;
border-radius: 10px;

border: 2px solid #E06733;
border-radius: 10px;
margin-bottom: 32px;
margin-right: 391px;


}
.leafs_image
{
align-self: flex-start;
width: 448.8px;
height: 407.36px;
left: 109px;
top: 62px;


}
.right-section 
{
position: absolute;
width: 549px;
height: 340px;
left: 782px;
top: 98px;
}
.about_wrapper
{
  font-family: 'Inika';
  font-style: normal;
  position:absolute;
width: 1440px;
height: 666px;
left: 0px;
top: 666px;

background: #FFFFFF;
}
.about_section
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 93px;
  margin-bottom: 94px;
  margin-right: 109px;
  margin-left: 109px;
  


width: 1222px;
height: 479px;
left: 109px;
top: 93px;
}
.plant_image
{
align-self: flex-end;
width: 464px;
height: 479px;
left: 867px;




}
.profi_text
{
  
  width: 463px;
  height: 102px;
  left: 109px;
  top: 161px;
  
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-top:68px;
  margin-right: 295px;

  
  
  
  color: #499A18;
}
.orange_text 
{
  color: #E06733
}
.lorem_about_text 
{
  
  width: 605px;
  height: 208px;
  left: 109px;
  top: 303px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  
  margin-bottom: 61px;
  margin-top:40px;
  margin-right: 153px;
 
 
  
  color: #636060;
  
}
.service_wrapper 
{
  position: absolute;
  width: 1440px;
  height: 1300px;
  left: 0px;
  top: 1332px;
  
  background: #EDF2EC;
}
.services_content
{
font-family: 'Inika';
font-style: normal;

width: 1007px;
height: 94px;
left: 109px;
top: 40px;
display: flex;
flex-wrap:wrap;


margin-left:109px;
margin-bottom: 90px;
margin-top: 40px;
margin-right:324px;



}
.service_and_project_text
{

font-weight: 400;
font-size: 40px;
line-height: 52px;
width: 306px;
height: 94px;
left: 109px;
top: 40px;
color: #499A18;
}
.gardens_button-border 
{
box-sizing: border-box;

position: absolute;
width: 161px;
height: 50px;
left: 557px;
top: 69px;

border: 1px solid #E06733;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;


}
.lawn_button-border
{
box-sizing: border-box;

position: absolute;
width: 161px;
height: 50px;
left: 756px;
top: 69px;

border: 1px solid #E06733;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;


}

.planting_button-border 
{
  box-sizing: border-box;

  position: absolute;
  width: 161px;
  height: 50px;
  left: 955px;
  top: 69px;
  
  border: 1px solid #E06733;
  border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;


}
.gardens-button
{
  
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  
  
  color: #E06733;
}
.lawn-button
{
  
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  
  
  color: #E06733;
}
.planting-button
{
  
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  
  
  color: #E06733;
}
.services_section 
{
position: absolute;
width: 1222px;
height: 955px;
left: 109px;
top: 224px;
background: #EDF2EC;
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}
.first_image
{
 
  width: 329px;
  height: 350px;
  left: 110px;
  top: 224px;
 
  background: url(pexels-frank-meriño-3612089.jpg);
  border-radius: 20px 20px 0px 0px;
  
 
}

figure {
  box-sizing: border-box;


width: 330px;
height: 100px;
left: 109px;
top: 574px;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;

border: 1px solid #E3E1D5;
border-radius: 0px 0px 20px 20px;

}
p:nth-of-type(1)
{
width: 120px;
height: 24px;
left: 214px;
top: 584px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;

color: #E06733;



}
p:nth-of-type(2)
{
  width: 267.19px;
  height: 20px;
  left: 139.91px;
  top: 618px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  
  margin-bottom: 36px;
  
  
  color: #717171;
}
